.channels-table {
  width: 100%;
}

.channels-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.channels-table th {
  color: #99a4c2;
  font-family: AvenirNext;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 33px;
  text-align: left;
  height: 64px;
}

.channels-table tr {
  height: 64px;
  color: #222a41;
  font-family: AvenirNext;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.channel-title {
  display: flex;
  align-items: center;
  height: 64px;
  gap: 16px;
}

.channels-table td:nth-child(2),
.channels-table th:nth-child(2) {
  padding-left: 25px;
}

.channels-table td:nth-child(1),
.channels-table th:nth-child(1) {
  width: 293px !important;
  max-width: 293px;
}

.channels-table td {
  color: #222a41;
  font-family: AvenirNext;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  width: 112px;
}
